@font-face {
  font-family: Heebo-Light;
  src: url("../fonts/Heebo-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Heebo-Thin;
  src: url("../fonts/Heebo-Thin.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Heebo-Regular;
  src: url("../fonts/Heebo-Regular.ttf");

  font-weight: normal;
}
@font-face {
  font-family: Heebo-Medium;
  src: url("../fonts/Heebo-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Playfair-Italic;
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Playfair-Display;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
