@font-face {
  font-family: Heebo-Light;
  src: url("../fonts/Heebo-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Heebo-Thin;
  src: url("../fonts/Heebo-Thin.ttf");
  font-weight: normal;
}
