html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: green;
  color: white;
  font-size: 1.6rem;
  font-family: "BerninaSans-Light", serif;
}

div {
  box-sizing: border-box;
}

.full {
  width: 100%;
}
