@import "./fonts.scss";
@import "./variables.scss";

html {
  font-size: 10px;
}

body {
  background-color: $cream;
  color: black;
  font-size: 2.1rem;
  padding: 0 8rem;
  max-width: 100%;
  margin: 0 auto;
}

.header-container,
.body-container,
.footer-container {
  max-width: 144rem;
  margin: 0 auto;
}

.copy-block {
  font-family: "Heebo-Thin", serif;
  font-size: clamp(3.2rem, 3.6vw, 6.8rem);
  line-height: clamp(5rem, 5vw, 9rem);
  color: white;
}

div {
  box-sizing: border-box;
}

.full {
  width: 100%;
}

img {
  padding: 0;
  margin: 0;
}

a {
  color: $spring-green;
  text-decoration: none;
}
