$maroon: #6f0808;
$salmon: #ff6363;
$orange: #ee6328;
$gold: #eec228;
$spring-green: #7bf5dc;
$seafoam: #60d2c5;
$teal: #0f505f;
$perrywinkle: #649ade;
$warm-grey: #938a8a;

:root {
  --maroon: #6f0808;
  --salmon: #ff6363;
  --orange: #ee6328;
  --gold: #eec228;
  --spring-green: #7bf5dc;
  --seafoam: #60d2c5;
  --teal: #0f505f;
  --perrywinkle: #649ade;
  --warm-grey: #938a8a;
}
